html, body {
    margin: 0; 
    height: 100%; 
    max-width: 100%;
    overflow: hidden;
    overflow-x: hidden;
}

#clothing-info {
    top: 75vh;
    left: 50vw;
    position: absolute;
    width: 100%;
    transform: translateX(-50%);
}